.mod_simpletipp .buttons,
.simpletipp_userselect {
	display:block;
	padding:10px 0;
}

.mod_simpletipp table {
	width:100%;
	border-collapse:separate;
	border-spacing:1px;
}

.mod_simpletipp td,
.mod_simpletipp th {
	vertical-align:middle;
	white-space: nowrap;
	padding:5px;
}


.simpletipp_matchfilter li {

}

.mod_simpletipp .avatar_big {
	display:block;
	padding:0;	
	margin:2px;
	width:96px;
	height:96px;
	float:left;
}
	
.mod_simpletipp a { color: #444; }
.mod_simpletipp a:hover { color: #000; }


.mod_simpletipp tfoot,
.mod_simpletipp thead {
	margin:0;
	padding:0;
}

.mod_simpletipp tfoot tr,
.mod_simpletipp thead tr {
	background:#333;
	font-weight:bold;
	color:#fff;
}

.mod_simpletipp th.avatar {
	width:74px;
	height:74px;
	background-position:center center;
	background-repeat:no-repeat;
	text-align:center;
}

.mod_simpletipp th.avatar  img {
	display:inline;
	margin:0;
	padding:0;
}

.mod_simpletipp tr.odd  { background-color:#eee; }
.mod_simpletipp tr.even { background-color:#ccc; }

		
.mod_simpletipp td.tipp { font-weight:bold; }		

.mod_simpletipp td.position {
	text-align:right;
}

.mod_simpletipp td.tipp,
.mod_simpletipp td.details,
.mod_simpletipp td.points,
.mod_simpletipp td.result,
.mod_simpletipp th.result {
	text-align:right;
	font-family:monospace;
}

.mod_simpletipp td.avatar {
	text-align:center;
}

.mod_simpletipp td.tipp input {
	font-family:monospace;
}

.mod_simpletipp th.matchtitle {
}

.mod_simpletipp th.matchtitle span {
	float:right;
}

.mod_simpletipp th.matchtitle em {
	font-weight:normal;
}

/* TODO :: pointsClass
.perfect {}
.difference {}
.tendency {}
.wrong {}
*/


/* Matchfilter
------------------------------------------------------------*/
.simpletipp_filter {
	display:block;
	padding:10px 0;
}

.simpletipp_filter ul {
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
.simpletipp_filter li {
	display:inline;
}

.simpletipp_filter li a {
	background-color:#eee;
	display:inline-block;
	margin:2px;
	padding:5px 10px;
}

.simpletipp_filter li a:hover {
	background-color:#ccc;
}

.simpletipp_filter li.active a {
	background-color:#333;
	color:#fff;
}

.simpletipp_filter a {
	text-decoration:none;
}

.mod_simpletipp td.title span {	
	display:table-cell;
	padding:7px 10px;
	text-align:center;
	min-width:14px;
	background-position:center center; 
	background-repeat:no-repeat; 
}

.mod_simpletipp td.title span.reset {
	padding:0;
}


.mod_simpletipp span.dortmund		{ background-image:url('/files/bundesliga-2012/wappen-32/dortmund.png'); }
.mod_simpletipp span.nuernberg		{ background-image:url('/files/bundesliga-2012/wappen-32/nuernberg.png'); }
.mod_simpletipp span.hamburg		{ background-image:url('/files/bundesliga-2012/wappen-32/hamburg.png'); }
.mod_simpletipp span.augsburg		{ background-image:url('/files/bundesliga-2012/wappen-32/augsburg.png'); }
.mod_simpletipp span.duesseldorf	{ background-image:url('/files/bundesliga-2012/wappen-32/duesseldorf.png'); }
.mod_simpletipp span.freiburg		{ background-image:url('/files/bundesliga-2012/wappen-32/freiburg.png'); }
.mod_simpletipp span.mainz			{ background-image:url('/files/bundesliga-2012/wappen-32/mainz.png'); }
.mod_simpletipp span.stuttgart		{ background-image:url('/files/bundesliga-2012/wappen-32/stuttgart.png'); }
.mod_simpletipp span.wolfsburg		{ background-image:url('/files/bundesliga-2012/wappen-32/wolfsburg.png'); }
.mod_simpletipp span.gladbach		{ background-image:url('/files/bundesliga-2012/wappen-32/gladbach.png'); }
.mod_simpletipp span.hoffenheim		{ background-image:url('/files/bundesliga-2012/wappen-32/hoffenheim.png'); }
.mod_simpletipp span.hannover		{ background-image:url('/files/bundesliga-2012/wappen-32/hannover.png'); }
.mod_simpletipp span.schalke		{ background-image:url('/files/bundesliga-2012/wappen-32/schalke.png'); }
.mod_simpletipp span.bayern			{ background-image:url('/files/bundesliga-2012/wappen-32/bayern.png'); }
.mod_simpletipp span.fuerth			{ background-image:url('/files/bundesliga-2012/wappen-32/fuerth.png'); }
.mod_simpletipp span.bremen			{ background-image:url('/files/bundesliga-2012/wappen-32/bremen.png'); }
.mod_simpletipp span.leverkusen		{ background-image:url('/files/bundesliga-2012/wappen-32/leverkusen.png'); }
.mod_simpletipp span.frankfurt		{ background-image:url('/files/bundesliga-2012/wappen-32/frankfurt.png'); }


.mod_simpletipp .match {
	text-align:center;
}

.mod_simpletipp .match span {
	background-position:center center; 
	background-repeat:no-repeat; 
	display:inline-block;
	width:140px;
	margin:10px 30px;
	height:140px;
}

.match span.dortmund	{ background-image:url('/files/bundesliga-2012/wappen/dortmund.png'); }
.match span.nuernberg	{ background-image:url('/files/bundesliga-2012/wappen/nuernberg.png'); }
.match span.hamburg		{ background-image:url('/files/bundesliga-2012/wappen/hamburg.png'); }
.match span.augsburg	{ background-image:url('/files/bundesliga-2012/wappen/augsburg.png'); }
.match span.duesseldorf	{ background-image:url('/files/bundesliga-2012/wappen/duesseldorf.png'); }
.match span.freiburg	{ background-image:url('/files/bundesliga-2012/wappen/freiburg.png'); }
.match span.mainz		{ background-image:url('/files/bundesliga-2012/wappen/mainz.png'); }
.match span.stuttgart	{ background-image:url('/files/bundesliga-2012/wappen/stuttgart.png'); }
.match span.wolfsburg	{ background-image:url('/files/bundesliga-2012/wappen/wolfsburg.png'); }
.match span.gladbach	{ background-image:url('/files/bundesliga-2012/wappen/gladbach.png'); }
.match span.hoffenheim	{ background-image:url('/files/bundesliga-2012/wappen/hoffenheim.png'); }
.match span.hannover	{ background-image:url('/files/bundesliga-2012/wappen/hannover.png'); }
.match span.schalke		{ background-image:url('/files/bundesliga-2012/wappen/schalke.png'); }
.match span.bayern		{ background-image:url('/files/bundesliga-2012/wappen/bayern.png'); }
.match span.fuerth		{ background-image:url('/files/bundesliga-2012/wappen/fuerth.png'); }
.match span.bremen		{ background-image:url('/files/bundesliga-2012/wappen/bremen.png'); }
.match span.leverkusen	{ background-image:url('/files/bundesliga-2012/wappen/leverkusen.png'); }
.match span.frankfurt	{ background-image:url('/files/bundesliga-2012/wappen/frankfurt.png'); }
