.mod_simpletipp .duration {
    display:none;
    text-align:right;
    font-size:10px;
    color:#ccc;
}

.mod_simpletipp #highscoreTimeline table,
.mod_simpletipp #pointsPlot table {
    width:auto;
}

.mod_simpletipp #pointsPlot .jqplot-series-0,
.mod_simpletipp #pointsPlot .jqplot-series-1 {
    color:#ffffff;
}
.mod_simpletipp #pointsPlot .jqplot-series-2 {
    color:#333333;
}