

.mod_simpletipp table {
	width:100%;
    border-collapse: separate;
}


.mod_simpletipp_ranking td.logo i,
.mod_simpletipp_match th.logos i,
.simpletipp_stat td.logos i,
.mod_simpletipp_matches td.logos i {
    text-indent:-99999px;
    display:inline-block;
    width:2em;
    height:2em;
    background-color:#ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    border:0.1em solid #aaaaaa;
    border-radius:0.5em;
}

.mod_simpletipp_ranking td.logo {
    margin:0;
    padding:0;
    vertical-align: middle;
}
.mod_simpletipp_ranking td.logo i {
    display:block;
    width:1.2em;
    height:1.2em;
    border-radius:0.2em;
}

.mod_simpletipp td.goalData .goalEntry {
    display:inline-block;
    padding:0.2em;
    white-space:nowrap;
}
.mod_simpletipp td.goalData .goalResult {
    display:inline-block;
    background-position: center left;
    background-repeat: no-repeat;
    padding-left:20px;
}

.mod_simpletipp th {
    text-align:left;
}

.mod_simpletipp td.tipp { font-weight:bold; }

.mod_simpletipp td.position {
	text-align:right;
}

.mod_simpletipp td.tipp,
.mod_simpletipp td.details,
.mod_simpletipp td.points,
.mod_simpletipp td.goals,
.mod_simpletipp td.result,
.mod_simpletipp th.result {
	text-align:right;
}


.mod_simpletipp .matchtitle .short { display:none; }
.mod_simpletipp .matchtitle .tiny  { display:none; }


.simpletipp_filter {
    padding:1em 0;
    display:block;
}

.simpletipp_filter ul {
    position:relative;
    text-align:center;
    display:block;
    list-style:none;
    line-height:normal;
    margin:0;
    padding:0;
}

.simpletipp_filter a {
    display:block;
    min-width: 2em;
    padding:0.2em 0.4em;
    text-decoration: none;
    margin:0;
    outline: none;
}
