.mod_simpletipp .duration {
    display:none;
    text-align:right;
    font-size:10px;
    color:#ccc;
}

.mod_simpletipp #highscoreTimeline table,
.mod_simpletipp #pointsPlot table {
    width:auto;
}

.mod_simpletipp .ct-point {
    stroke-linecap: square;
    stroke-width: 5px;
}
.mod_simpletipp .ct-line {
    stroke-width: 2px;
}